<div class="category">
    <div class="category-top">
        <div class="container">
            <h1>Наши проекты</h1>
            <div class="category-text">
                Разные стили, планировки и дизайны, возможность выполнить индивидуальный проект — все зависит от ваших предпочтений и желания. Одно остается неизменным — комфорт, качество и удобство любого нашего проекта.
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="category-filter">
                <label>Город приема</label>
                <select class="form-select" name="city">
                    <option>Москва</option>
                    <option>Москва</option>
                    <option>Москва</option>
                    <option>Москва</option>
                    <option>Москва</option>
                </select>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="category-products">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="product-item">
                            <a href="#" class="product-item-img">
                                <img class="img-fluid" src="img/product.png">
                            </a>
                            <a href="#" class="product-item-title">«Скандинавия» 24</a>
                            <div class="product-item-price">595 000 р.</div>
                            <div class="product-item-buttons">
                                <a href="#" class="btn btn-sm btn-primary me-2">Подробнее</a>
                                <a href="#" class="btn btn-sm btn-outline-primary">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="product-item">
                            <a href="#" class="product-item-img">
                                <img class="img-fluid" src="img/product.png">
                            </a>
                            <a href="#" class="product-item-title">«Скандинавия» 24</a>
                            <div class="product-item-price">595 000 р.</div>
                            <div class="product-item-buttons">
                                <a href="#" class="btn btn-sm btn-primary me-2">Подробнее</a>
                                <a href="#" class="btn btn-sm btn-outline-primary">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="product-item">
                            <a href="#" class="product-item-img">
                                <img class="img-fluid" src="img/product.png">
                            </a>
                            <a href="#" class="product-item-title">«Скандинавия» 24</a>
                            <div class="product-item-price">595 000 р.</div>
                            <div class="product-item-buttons">
                                <a href="#" class="btn btn-sm btn-primary me-2">Подробнее</a>
                                <a href="#" class="btn btn-sm btn-outline-primary">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="product-item">
                            <a href="#" class="product-item-img">
                                <img class="img-fluid" src="img/product.png">
                            </a>
                            <a href="#" class="product-item-title">«Скандинавия» 24</a>
                            <div class="product-item-price">595 000 р.</div>
                            <div class="product-item-buttons">
                                <a href="#" class="btn btn-sm btn-primary me-2">Подробнее</a>
                                <a href="#" class="btn btn-sm btn-outline-primary">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="product-item">
                            <a href="#" class="product-item-img">
                                <img class="img-fluid" src="img/product.png">
                            </a>
                            <a href="#" class="product-item-title">«Скандинавия» 24</a>
                            <div class="product-item-price">595 000 р.</div>
                            <div class="product-item-buttons">
                                <a href="#" class="btn btn-sm btn-primary me-2">Подробнее</a>
                                <a href="#" class="btn btn-sm btn-outline-primary">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>