script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A11a31f201422be65036816d559ba3633b7081b7722fc1c51e6e84c9b9e7305fb&width=100%25&height=400&lang=ru_RU&scroll=true')
footer.footer
  .container
    .row
      .col-md-4
      .col-md-4
      .col-md-4

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
script(src='js/owl/owl.carousel.min.js')
script(src='js/bootstrap/js/bootstrap.min.js')
script(src='js/fancybox/jquery.fancybox.min.js')
script(src='js/jquery.inputmask.bundle.js')
script(src='js/phone.min.js')
script(src='js/wow.min.js')
script(src='js/scripts.js')