meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
title Starter Template for Bootstrap
meta(name='description', content='')
link(rel='shortcut icon', href='')
<link href="https://fonts.googleapis.com/css?family=Marck+Script|Merriweather" rel="stylesheet">
link(rel='stylesheet', href='js/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='js/owl/assets/owl.carousel.min.css')
link(rel='stylesheet', href='js/fancybox/jquery.fancybox.min.css')
link(rel='stylesheet', href='css/icon/style.css')
link(rel='stylesheet', href='css/style.css')