.container
  header.header
    .row
      .col
        a.logo(href="/")
      .col
        .address ул. Советская 105 А
      .col
        a.phone(href="tel:88009002020") 88009002020
      .col
        a.btn.btn-dark(href="#", data-toggle="modal", data-target="#callModal") Обратный звонок
  nav.nav-main
    ul.nav.justify-content-center
      li.nav-item
        a.nav-link.active(href='#') Active
      li.nav-item
        a.nav-link(href='#') Link
      li.nav-item
        a.nav-link(href='#') Link
      li.nav-item
        a.nav-link(href='#') Disabled
