header.header
  .container
    .row
      .col-xs-12
        .menu-toggle.visible-xs(data-toggle="collapse", data-target="#nav")
          i.fa.fa-reorder
    ul.nav.nav-pills.collapse#nav
      li
        a(href="#") О нас
      li
        a(href="#") Меню
      li
        a(href="#") Интерьер
      li
        a(href="#") Отзывы
      li
        a(href="#") Мероприятия
      li
        a(href="#") Блог
      li
        a(href="#") Контакты
    a.logo.wow.rubberBand
      img(src="img/logo.png")
    a.phone.wow.bounceInLeft(href="tel:+74959085460") +7 <span>(495)</span> 908-54-60
    .text МЫ РАБОТАЕМ ЕЖЕДНЕВНО С 12-00 ДО ПОСЛЕДНЕГО ГОСТЯ
    a.btn() Забронировать столик
