.container
  main
    h1 Главнаяв
    .items
      .row.no-gutters
        .item.col-lg-3.col-md-4.col-6
          a.image(href="#")
            img.img-fluid(src="img/category-1.png")
          a.title(href="#") Кальяны
        .item.col-lg-3.col-md-4.col-6
          a.image(href="#")
            img.img-fluid(src="img/category-2.jpg")
          a.title(href="#") Табак
        .item.col-lg-3.col-md-4.col-6
          a.image(href="#")
            img.img-fluid(src="img/category-3.png")
          a.title(href="#") Уголь
        .item.col-lg-3.col-md-4.col-6
          a.image(href="#")
            img.img-fluid(src="img/category-4.jpg")
          a.title(href="#") Аксессуары