<main>
    <div class="container">
        <div class="block block-1">
            <div class="row">
                <div class="col-lg-6 order-1 order-lg-0">
                    <img src="img/logo-black.svg" class="mb-5 d-none d-lg-block">
                    <div class="block-title">Готовые модульные<br>
                        дома и бани
                    </div>
                    <div class="block-text">
                        Загородная жизнь с комфортом городской квартиры от 475.000 руб. с установкой за 1 день
                    </div>
                    <div class="mb-3 mb-lg-4">
                        <div class="btn btn-primary mb-3 me-lg-4">Оставить заявку</div>
                        <div class="btn btn-outline-primary">Получить каталог</div>
                    </div>
                    <p>Получите готовый модульный дом или баню с<br> установкой за 1 день и доставкой по всей России</p>
                </div>
                <div class="col-lg-6 order-0 order-lg-1">
                    <img src="img/block-1.png" class="img-fluid mb-4 mb-lg-0">
                </div>
            </div>
        </div>
        <div class="block block-2">
            <div class="row">
                <div class="col-lg-4">
                    <div class="block-title">Почему наши дома и бани?</div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 item">
                            <div class="item-title">1 / Мобильность</div>
                            Стройке — нет! Мы привозим вам готовый модульный дом или баню и устанавливаем на участке за
                            1−2 дня.
                        </div>
                        <div class="col-lg-6 item">
                            <div class="item-title">2 / Всё включено</div>
                            В наших модулях сразу есть все необходимое: ремонт, коммуникации. Можем укомплектовать дома
                            вплоть до мебели!
                        </div>
                        <div class="col-lg-6 item">
                            <div class="item-title">3 / Для русской зимы</div>
                            В любом нашем доме применяем экологичную минеральную вату 100 и 150 мм. Будет тепло даже в
                            -40°.
                        </div>
                        <div class="col-lg-6 item">
                            <div class="item-title">4 / Фундамент включён</div>
                            В стоимость входит фундамент из блоков «ФБС», по желанию можно установить свайный фундамент.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block block-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 position-relative d-none d-lg-block">
                    <div class="point">
                        <div class="point-title">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM7.25 12C7.25 11.5858 7.58579 11.25 8 11.25H11.25V8C11.25 7.58579 11.5858 7.25 12 7.25C12.4142 7.25 12.75 7.58579 12.75 8V11.25H16C16.4142 11.25 16.75 11.5858 16.75 12C16.75 12.4142 16.4142 12.75 16 12.75H12.75V16C12.75 16.4142 12.4142 16.75 12 16.75C11.5858 16.75 11.25 16.4142 11.25 16V12.75H8C7.58579 12.75 7.25 12.4142 7.25 12Z" fill="#E7620B"/>
                            </svg>
                            Пенза
                        </div>
                        <div class="point-text">
                            <div>+7 (343)302-09-62</div>
                            <div>ул. Радищева 6а, п. 1, офис 1402, БЦ «Суворов»</div>
                            <div>Пн-Пт | с 10:00 до 18:30</div>
                        </div>
                    </div>
                    <img src="img/block-3.png" class="img-fluid">
                </div>
                <div class="col-lg-4">
                    <div class="block-title">Работаем по всей России и не только</div>
                    <img src="img/block-3-mobile.png" class="img-fluid mb-4 d-block d-lg-none">
                    <p>Вы всегда можете посетить наши офисы лично в Саранске, Пензе, Ульяновске, Чебоксарах, Нижнем
                        Новгороде!
                    </p>
                    <p> Менеджеры подробно ответят на все вопросы, помогут определиться с выбором и расскажут о нашей
                        компании больше.
                    </p>
                    <p> Ну, а заказать дом мечты вы можете в любую точку страны — мы доставляем модульные изделия по
                        всей России и странам СНГ.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="block block-4">
        <div class="container">
            <div class="row row-items">
                <div class="col-md-6">
                    <div class="item" style="background-image: url('../img/block-4-1.png')">
                        <div class="item-title">Модульные дома</div>
                        <div class="item-text">от 595.000 руб.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item" style="background-image: url('../img/block-4-2.png')">
                        <div class="item-title">Модульные бани</div>
                        <div class="item-text">от 475.000 руб.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item" style="background-image: url('../img/block-4-3.png')">
                        <div class="item-title">Готовые компрлексы / дом + баня</div>
                        <div class="item-text">от 1.595.000 руб.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item" style="background-image: url('../img/block-4-4.png')">
                        <div class="item-title">Хозблоки</div>
                        <div class="item-text">от 108.000 руб.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <div class="block-title">Выбирайте, что вам по душе</div>
                    <div class="block-text">
                        Хотите такой же дом или баню? Оставьте заявку,<br> мы позвоним вам и расскажем о наших проектах.
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="my-3">
                        <a href="#" class="btn btn-primary w-100">Посмотреть все проекты</a>
                    </div>
                    <div>
                        <a href="#" class="btn btn-outline-primary w-100">Узнать больше</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block block-order">
        <div class="block-title d-block d-lg-none">
            <div class="container">
            В одном из этих домов ты можешьпроснуться уже завтра
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-6 d-none d-lg-block">
                    <div class="block-title">
                        В одном из этих домов ты можешьпроснуться уже завтра
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="form-wrap">
                        <form method="post" class="form" action="">
                            <div class="form-title">Остались вопросы или
                                уже готовы купить?</div>
                            <div class="form-text">Оставьте заявку ниже и наши менеджеры свяжутся с вами</div>
                            <div class="mb-3">
                                <input class="form-control" type="text" name="name" placeholder="Имя" required>
                            </div>
                            <div class="mb-3">
                                <input class="form-control" type="text" name="phone" placeholder="Телефон" required>
                            </div>
                            <div class="mb-5">
                                <input class="form-control" type="text" name="email" placeholder="Email">
                            </div>
                            <input type="submit" class="btn btn-primary w-100" value="Отправить">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block block-contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="block-title">Мы всегда рады встрече с вами!</div>
                    <div class="text-center mb-4 d-block d-md-none">
                        <img src="img/block-contact-mobile.png" class="img-fluid">
                    </div>
                    <div class="address">
                        <div class="address-title">г. Саранск</div>
                        <div class="address-phone"><a href="tel:+7 (343)302-09-62">+7 (343)302-09-62</a></div>
                        <div class="address-address">ул. Радищева 6а, п. 1, офис 1402, БЦ «Суворов»<br>
                            Пн-Пт | с 10:00 до 18:30</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>