#callModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
        form.form(action='/', method='post')
          input(type='hidden', name='nospam:blank', value='')
          .form-group
            label(for='name')
              | Ваше имя
              span.required *
              | :
            input#name.form-control(type='text', name='name', value='')
            span.glyphicon.glyphicon-remove.form-control-feedback
          .form-group
            label(for='email')
              | Email
              span.required *
              | :
            input#email.form-control(type='text', name='email', value='')
            span.glyphicon.glyphicon-remove.form-control-feedback
          .form-group
            label(for='text')
              | Сообщение
              span.required *
              | :
            textarea#text.form-control.required(name='text', cols='55', rows='7', value='')
            span.glyphicon.glyphicon-remove.form-control-feedback
          .checkbox
            label
              input#agree(type='checkbox', name='agree', value='1', checked='checked')
              | Я принимаю
              a(href='#', target='_blank') Соглашение об обработке
              | персональных данных
          input(type='hidden', name='feedBack', value='1')
