.owl-carousel.owl-theme
    .item
        a.fancybox(data-fancybox="fancybox", href="http://wm-514003.oml.ru/thumb/npHSky9bC2fBC5pwy-wdew/305c300/1734205/54557684_3.jpg")
            img(src="http://wm-514003.oml.ru/thumb/npHSky9bC2fBC5pwy-wdew/305c300/1734205/54557684_3.jpg")