doctype html
html(lang='en')
  head
    include common/head
  body
    include common/header
    include common/slider
    .container
      .row
        .col-md-9.col-md-push-3
        .col-md-3.col-md-pull-9
          .icon.icon-age
    include common/footer