$color1: #efac38;
$color2: #7fbf11;

body {
	font-family: Merriweather, serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	background: url('../img/body.jpg') no-repeat;
	background-attachment: fixed;
}
a {
  color: $color1;
}
a:hover {
  text-decoration: none;
}
h1 {
	font-family: 'Marck Script', sans-serif;
	color: $color2;
	margin: 0 0 30px;
}
h2 {
	font-family: 'Marck Script', sans-serif;
	color: $color2;
}
p {
	margin-bottom: 15px;
}