$color1: blue;
$color2: blue;

body {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
}
a {
  color: $color1;
}
a:hover {
  text-decoration: none;
}
h1 {

}
h2 {

}