$color1: #563d7c;
$color2: #694d94;
$color3: #efefef;

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Comfortaa', sans-serif;
}
a {
  color: $color1;
}
a:hover {
  text-decoration: none;
  color: #000;
}
h1,
.h1 {
  color: $color2;
  margin: 0 0 30px;
}
h2,
.h2{
  color: $color2;
}
p {
  margin-bottom: 15px;
}