.btn {
  background: $color1;
  padding: 15px 45px;
  transition: all 0.2s ease-in-out;
  color: #000;
  &:hover {
    background: $color2;
    color: #000;
  }
}
.has-feedback .form-control-feedback {
  display: block;
}
.form-control-feedback {
  display: none;
}